.wrapper {
  background-image: linear-gradient(
    rgba(204, 205, 220, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  padding: 88px 32px 250px;
  min-height: 100vh;
}

.search {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
  background-color: rgba(143, 145, 158, 0.7);
  border-radius: 8px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: 1fr;
}

.card {
  position: relative;
}
