.wrapper {
  position: relative;
}

.input {
  padding: 4px 16px;
  border-radius: 4px;
  outline: none;
  border: 0px solid transparent;
}

.svg {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 0;
}
