.header {
  background-color: rgba(143, 145, 158, 0.7);
  color: white;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.nav {
  display: flex;
  gap: 48px;
  justify-content: center;
  margin-left: 50%;
  transform: translateX(-50%);
}

.link {
  color: white;
  transition: color 250ms linear;
  transition: transform 150ms linear;
  font-size: 20px;
}

.link:hover {
  color: rgb(248, 248, 251);
  transform: scale(1.1);
}

.active {
  text-decoration: underline;
}

.cart {
  position: relative;
  margin-left: auto;
  cursor: pointer;
}

.total {
  border-radius: 50%;
  background-color: yellow;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
